<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Starting:</strong>
  <%= @event.starting %>
</p>

<p>
  <strong>Ending:</strong>
  <%= @event.ending %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
