<% month = date.month %>
<% first_day = date.beginning_of_month.beginning_of_week %>
<% last_day = date.end_of_month.end_of_week %>
<% all_month_days = first_day..last_day %>
<% only_month_days = date.beginning_of_month..date.end_of_month %>

<!-- Month -->
<div class="container-fluid bg-white">
    <div class="jumbotron bg-white">
      <div class="text-center mb-4">
          <h3 class="text-h-color spaced-letters font-weight-light text-uppercase">Kalender</h3>
          <p>
            <%= link_to 'New Event', new_event_path %>
          </p>
          <p>
            <%#= link_to "Alle Events in deinen Kalender eintragen", events_icalendar_path, class: "btn btn-info"  %>
          </p>
      </div>
      <div class="text-center m-2">
        <%= link_to event_calendar_path(date - 1.month) do %>
          <div class="btn btn-primary">
            &#8249; &#8249;
          </div>
        <% end %>
        <span class="mx-3">
          <b><%= I18n.t("date.month_names")[month] %> <%= date.year %></b>
        </span>
        <%= link_to event_calendar_path(date + 1.month) do %>
          <div class="btn btn-primary">
            &#8250; &#8250;
          </div>
        <% end %>
      </div>

      <div class="d-none d-md-block">
        <table class="table table-bordered rounded">
        <thead>
          <tr>
            <th class="text-center small-text">Montag</th>
            <th class="text-center small-text">Dienstag</th>
            <th class="text-center small-text">Mittwoch</th>
            <th class="text-center small-text">Donnerstag</th>
            <th class="text-center small-text">Freitag</th>
            <th class="text-center small-text">Samstag</th>
            <th class="text-center small-text">Sonntag</th>
          </tr>
        </thead>
        <tbody>
          <% all_month_days.to_a.in_groups_of(7).each do |week| %>
            <tr style="height: 150px;">
              <% week.each do |day| %>
              <% backgroundcolorforday = "bg-lightgray" unless day.between?(date.beginning_of_month, date.end_of_month) %>
              <% backgroundcolorforday = "bg-lightcyan" if day === Date.today %>
              <td class="day-td <%= day.strftime("%d-%m-%Y") %> <%= backgroundcolorforday %>" style="width: 14.28%;">
                <%= render "event_calendar/day-lg", day: day, events: events %>
              </td>
              <% end %>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>

  </div>
</div>
